{% extends 'base.html.twig' %}

{% block title %}Créer un quiz
{% endblock %}


{% block body %}
	{% include 'parts/navbar.html.twig' %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>

	{% endfor %}

	<div class="create-quiz-container">
		<h1>Créer un nouveau quiz</h1>


		{{ form_start(form, { 'action': '/quiz/create/' ~ form.questions|length, 'method': 'POST' }) }}


		{{ form_row(form.title) }}
		{{form_row(form.category)}}
		{{ form_row(form.img_url) }}
		{{form_row(form.description)}}

		<h2>Questions</h2>

		{% for question in form.questions %}
			<div class="card my-3 p-3 border">
				{{ form_row(question.content) }}

				<div class="row">
					{% for answer in question.answers %}
						<div class="col-md-6">
							{{ form_row(answer.content) }}
							{{ form_row(answer.isCorrect) }}
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
		{{form_row(form.Create)}}
		{{ form_end(form) }}
	</div>
{% endblock %}
