<div class="quizz-card {{ userResult and userResult.completedAt ? 'completed' : '' }}">
	{% if userResult and userResult.completedAt %}
		<a href="{{ path('endquizz', { id: quizz.id }) }}" class="quizz-button disabled">
        	<div style="background:center / cover no-repeat url('{{ asset(quizz.imgUrl) }}')  ;">
        		<p>Completé : {{userResult.score}} / {{quizz.questions|length}}</p>
        	</div>
		
			<p class="card-text">{{ quizz.title }}<br><small>Voir classement</small>
			</p>
		</a>
	{% else %}
		<a href="{{ path('quizz', { id: quizz.id }) }}" class="quizz-button">
			<div style="background:center / cover no-repeat url('{{ asset(quizz.imgUrl) }}')   ;"></div>
			<p  class="card-text">{{ quizz.title }}</p>
		</a>
	{% endif %}
</div>



