{% extends 'base.html.twig' %}

{% block title %}Hello QuizzController!{% endblock %}

{% block body %}

<h1>{{question.content}}</h1>
<h2>{{message}}</h2>
    
<div class="answers-container">
    {% for answer in question.answers %}

    <p class="
    {% if answer == userAnswer %}
    user-answer
    {% endif %}
    {% if answer.isCorrect %}
    good-answer
    {% else %}
    wrong-answer
    {% endif %}
    ">{{ answer.content }} {{ (answer.votes / totalVotes * 100)|number_format(1, '.', '') }} %
    {% endfor %}
    </p>
</div>
    
<a href="{{ path('playquizz', { id: question.quizz.id }) }}">Question suivante</a>

{% endblock %}