{% extends 'base.html.twig' %}

{% block title %}
	{{quizz.title}}
{% endblock %}

{% block body %}
	{% include 'parts/navbar.html.twig' %}

	<div class="quizz-start-card">
		<h1>{{quizz.title}}</h1>
		<img src="{{ asset(quizz.imgUrl) }}"/>
		<p>{{quizz.description}}</p>
		<a href="{{path('playquizz',{id:quizz.id})}}" class="quizz-start">Play this quizz</a>
	</div>


{% endblock %}
